*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    padding: 20px;
}
.quiz-container{
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    max-width: 450px;
    margin: auto;
    transition: transform 0.3s;
}
.quiz-container:hover{
    transform: scale(1.02);
}
h2{
    color: #333;
}
p{
    font-size: 18px;
    font-weight: bold;
}
input{
    width: 80%;
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid #ff758c;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}
button{
    padding: 12px 20px;
    background: #ff758c;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}
button:hover{
    background-color: #914854;
}
#result{
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
}